*{margin: 0 auto;paading:0;}

body {
    background: white;
}

.contentclass {
    margin: 15px;

}

.table {
    margin-right: 80px;
    width: 400px;
    background-color: transparent;
    border: none;
    border-collapse: collapse;

}

table, th, td {
    border: none;
    border-collapse: collapse;
}

.table tr {
    border: none;
    outline: none;
}

.table2 {
    background-color: whitesmoke;
    border-width: 1px;
    border-color: lightgrey;
}

.page-header{
    color:white;
    padding: 20px;
    padding-top: 15px;
    padding-bottom:10px;
    margin-top: 0px;
    background:whitesmoke;
    height: 60px;
    /*position: fixed;*/
    width:100%;
}

.page-header h2 {
    margin-top: 0px;
    color: darkgrey;
    font-size: 27pt;
}

.page-header h3{
    margin-top: 0px;
    color: darkgrey;
    font-family: "Helvetica Neue",Helvetica ,Arial,sans-serif;
    height: 6%;

    float:right;


}



.page-header a{
    margin-top: 0px;

    /*color:orange;*/
    color: darkgrey;
    text-decoration:none;
    /*transition: 1s;*/
}

.page-header a:hover{
    color: darkslategray;

}

.suwarning {
    color: red;
}



.login{
	margin-top: 4%;
	position: center;
	background: whitesmoke;
	padding: 20px;
	border: 1px lightgrey solid;
	/*box-shadow: 18px 17px 15px 2px rgba(0,0,0,0.75);*/
	width: 400px;
}

.login h2 {
	padding: 5px;
	padding-left:10%; 

}

.login h3{
	padding: 5px;

}

.login a{
	color: white;
	background: #2E64FE;
	border-radius:10px;
	padding: 15px;
	text-decoration: none;
	font-size: 20pt;
	transition: 0.5s; 
}

.login a:hover{
	border-radius:20px; 
}

.box_meta {
    width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
}