{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'CSPCApp_contract_list' %}">Contract Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>number</td>
    <td>status</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.number }}</td>
    <td>{{ object.status }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'CSPCApp_contract_create' %}">Create new Contract</a>
{% endblock %}